<div class="booking-container">

  <section *ngIf="!isBooked" class="form-card">
    <h1 class="display-1">Boka hotellrum</h1>

    <form #bookingForm="ngForm">

      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Incheckning</label>
          <input type="date" class="form-control date-input" [(ngModel)]="inCheck" name="inCheck" required #datePickerIn
            (click)="datePickerIn.showPicker()" (keydown)="$event.preventDefault()">
        </div>

        <div class="col-md-6">
          <label class="form-label">Utcheckning</label>
          <input type="date" class="form-control date-input" [(ngModel)]="utCheck" name="utCheck" required #datePickerUt
            (click)="datePickerUt.showPicker()" (keydown)="$event.preventDefault()">
        </div>
      </div>

      <div class="field-group">
        <label class="group-label">Välj rumstyp</label>
        <div class="radio-options">
          <label class="radio-card">
            <input type="radio" name="room" value="Standard" [(ngModel)]="roomType" required>
            <span>Standard</span>
          </label>

          <label class="radio-card">
            <input type="radio" name="room" value="Deluxe" [(ngModel)]="roomType">
            <span>Deluxe</span>
          </label>

          <label class="radio-card">
            <input type="radio" name="room" value="Suite" [(ngModel)]="roomType">
            <span>Suite</span>
          </label>
        </div>
      </div>

      <div class="field-group-quantity">
        <label class="group-label">Antal personer</label>
        <div class="quantity-controls">
          <input type="number" name="quantity" [(ngModel)]="quantity" min="1" max="10" placeholder="1-10" #q="ngModel"
            required />

          <button class="bokabtn" (click)="showBooking()" [disabled]="bookingForm.invalid">
            Boka nu
          </button>
        </div>

      </div>

    </form>
  </section>



  <section *ngIf="isBooked" class="confirmation-card">
    <h2 class="confirm-title">Bokningen är bekräftad!</h2>
    <p>Tack för din bokning av rumstypen <strong>{{roomType}}</strong> för <strong>{{quantity}}</strong> {{ quantity ===
      1 ? 'person' : 'personer' }}.</p>
    <p class="date-info">Mellan perioden <strong>{{inCheck}}</strong> till <strong>{{utCheck}}</strong></p>

    <button (click)="isBooked = false" class="back-btn">Gör ny bokning</button>
  </section>

  <footer>

    <p class ="info-text" > Om <em>Boka nu</em> knappen inte går att trycka på är det någon av inmatningsfälten som inte riktigt stämmer,
      vill du boka för fler än 10 pers eller har andra frågor kontakta oss på...
    </p>
  </footer>
</div>